body {
    font-family: 'Noto Serif KR', serif;
    font-weight: 200;
}
header {
    padding-top: 100px;        
}
.greeting {
    color: rgb(0, 0, 0);
    text-align: center;   
    font-size: 54px;    
    line-height: 72px;
}
.greeting_line {
    width: 650px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    margin: 25px auto 0;
}
.profile {    
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}
.profile p:not(:first-child) {
    margin-top: 25px;
}
.profile strong {
    font-size: 32px;
    font-weight: 400;
}
.portfolio {
    margin-top: 100px;
    display: flex;
    justify-content: center;    
    gap: 25px;
}
.portfolio > div {
    position: relative;
    width: 250px;
    height: 250px;    
}
.portfolio > div > a {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
.portfolio .first {
    background: url(../image/main1.jpg) 50% 70% / 250% no-repeat;    
}
.portfolio .second {
    background: url(../image/background_3.jpg) 50% 70% / 200% no-repeat;    
}
.portfolio .third {
    background: url(../image/headphone_model3.jpg) 75% top / 250% no-repeat;    
}